<%- contentFor('page') %>

<div class="gen-container">
  <% if (locals.user) { %>
  <div>
    <ul class="file-ul-detail">
      <li>
        <strong>File name:</strong>
        <%= file.title %>
      </li>
      <li>
        <strong>File size:</strong>
        <%= file.size %>
        bytes
      </li>
      <li>
        <strong style="min-width: fit-content">File url:</strong>
        <a href="<%= file.url %>" style="overflow-wrap: anywhere"
          ><%= file.url %></a
        >
      </li>
      <li>
        <strong>Upload time:</strong>
        <%= file.createdAt.toLocaleString() %>
      </li>
      <li>
        <strong>Download:</strong>
        <a href="<%= file.id %>/download" class="file-link"
          ><img
            style="height: 30px"
            src="/images/cloud.png"
            alt="cloud download icon"
        /></a>
      </li>
    </ul>
  </div>
  <% } else { %>
  <p>Access denied</p>
  <% } %>
  <%- include('./partials/back-link') %>
</div>
