<%- contentFor('page') %>

<div class="gen-container">
<% if (locals.user) { %>
<% if (locals.folders && folders.length) { %>
    <ul class="folder-ul">
<% folders.forEach(folder => { %>
<li>
    <a href="/folders/<%= folder.id %>/files"><%= folder.title %></a>
    <div class="folder-options">
        <a href="/folders/<%= folder.id %>/edit" class="folder-link"><img src="/images/edit_folder.png" alt="edit folder icon" title="edit folder" style="height: 30px;"></a>
        <a href="/folders/<%= folder.id %>/delete" class="folder-link" onclick="return confirm('Delete folder <<%= folder.title %>> and all its files?')"><img src="/images/delete_folder.png" alt="delete folder icon" title="delete folder" style="height: 30px;"></a>
    </div>
</li>
<% }) %>
</ul>
<% } else { %>
<h2>You have no folders.</h2>
<% } %>
<% } else { %>
<p>Access denied</p>
<% } %>
<div style="display: flex; padding-left: 15px;">
<a href="/folders/create" class="folder-link"><img height="30px" src="/images/add_folder.png" alt="add folder icon" title="new folder"></a>
</div>
</div>
